<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("Styles",false)
    <title>Computer Details</title>
</head>
<body>
    <header>
      @await Html.PartialAsync("_Navbar.cshtml")
    </header>

    <div class="container my-5">
       <main>
        @RenderBody()
        @RenderSection("Header",false) 
       </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
