@model List<basics.Models.Computer>

<h1 class="mb-4">Computer List</h1>
<div class="row">
  @foreach (var computer in Model)
  {
    <!-- Burada partial’ın adını ve gönderdiğimiz parametreyi doğru yazıyoruz: -->
    @await Html.PartialAsync("_ComputerCards", computer)
  }
  
</div>
